@charset "UTF-8";

/*! The main stylesheet for the Barbershop project */

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsansnarrow.woff2") format("woff2"),
       url("../fonts/ptsansnarrow.woff") format("woff");
}

@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansnarrowbold.woff2") format("woff2"),
       url("../fonts/ptsansnarrowbold.woff") format("woff");
}

/* Icon sprite */
.sprite {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-icon-checkbox-cross {
  background-position: -5px -5px;
  height: 12px;
  width: 12px;
}

.sprite-icon-facebook {
  background-position: -27px -5px;
  height: 22px;
  width: 12px;
}

.sprite-icon-facebook-hovered {
  background-position: -49px -5px;
  height: 22px;
  width: 12px;
}

.sprite-icon-instagram {
  background-position: -5px -37px;
  height: 21px;
  width: 21px;
}

.sprite-icon-instagram-hovered {
  background-position: -36px -37px;
  height: 21px;
  width: 21px;
}

.sprite-icon-lock {
  background-position: -67px -37px;
  height: 17px;
  width: 15px;
}

.sprite-icon-login {
  background-position: -71px -5px;
  height: 16px;
  width: 18px;
}

.sprite-icon-user {
  background-position: -92px -31px;
  height: 15px;
  width: 15px;
}

.sprite-icon-vkontakte {
  background-position: -67px -64px;
  height: 16px;
  width: 25px;
}

.sprite-icon-vkontakte-hovered {
  background-position: -5px -90px;
  height: 16px;
  width: 25px;
}

/* Apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  min-width: 960px;
  padding: 0;
}

body {
  background: #000 url("../img/index-bg.jpg") center top no-repeat;
  color: #fff;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71428571;
  text-transform: uppercase;
}

.inner-page {
  background: #f8f3f0 url("../img/light-pattern-bg.jpg") repeat;
  color: #000;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 960px;
}

.first-heading {
  font-size: 30px;
  line-height: 1.4;
}

.second-heading {
  font-size: 24px;
  line-height: 1.25;
}

.btn {
  background-color: #000;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 16px;
  padding: 10px 33px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  cursor: pointer;
  display: inline-block;
  line-height: 1.28571429;
  padding-left: 43px;
  position: relative;
  vertical-align: middle;
}

input[type="checkbox"] + label::before,
input[type="radio"] + label::before {
  border: 2px solid #000;
  content: "";
  display: inline-block;
  height: 20px;
  margin-left: -43px;
  margin-right: 23px;
  vertical-align: top;
  width: 20px;
}

input[type="radio"] + label::before {
  border-radius: 50%;
}

input[type="checkbox"]:checked + label::after {
  background: transparent url("../img/sprite.png") -5px -5px no-repeat;
  content: "";
  height: 12px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 12px;
}

input[type="radio"]:checked + label::after {
  background: #000;
  border-radius: 50%;
  content: "";
  height: 8px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 8px;
}

.breadcrumbs {
  margin-bottom: 50px;
}

.breadcrumbs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.breadcrumbs li {
  color: #aba9a7;
  display: inline;
  padding-right: 40px;
  position: relative;
}

.breadcrumbs li::after {
  background: #000;
  content: "";
  height: 8px;
  position: absolute;
  right: 18px;
  top: 6px;
  transform: rotate(45deg);
  width: 8px;
}

.breadcrumbs li:last-child:after {
  display: none;
}

.breadcrumbs a {
  color: #000;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

/* ==========================================================================
   Header
   ========================================================================== */
.main-header {
  background-color: #000;
  color: #fff;
  margin-bottom: 60px;
}

.inner-page .main-header {
  margin-bottom: 49px;
}

.inner-logo img {
  display: block;
  height: 24px;
  width: 111px;
}

.main-navigation {
  float: left;
  font-size: 0;
  width: 780px;
}

.main-navigation .inner-logo {
  display: inline-block;
  padding-bottom: 23px;
  padding-top: 23px;
  vertical-align: middle;
}

.main-navigation .inner-logo:hover {
  background: none;
}

.main-navigation ul {
  font-size: 0;
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 1.25;
  vertical-align: top;
}

.main-navigation li:hover {
  background-color: #242424;
}

.main-navigation .is-active:hover {
  background: none;
}

.main-navigation .is-active {
  position: relative;
}

.main-navigation .is-active::after {
  background-color: #fff;
  bottom: 0;
  content: "";
  height: 5px;
  left: 20px;
  position: absolute;
  right: 20px;
}

.main-navigation a {
  color: #fff;
  display: block;
  padding: 25px 20px 27px;
  text-decoration: none;
}

.user-block {
  float: right;
  max-width: 140px;
  min-height: 70px;
}

.login {
  color: #fff;
  display: inline-block;
  font-size: 16px;
  line-height: 1.25;
  padding: 25px 23px;
  padding-left: 51px;
  position: relative;
  text-decoration: none;
  vertical-align: top;
}

.login:hover {
  background-color: #242424;
}

.login::before {
  background: transparent url("../img/sprite.png") -71px -5px no-repeat;
  content: "";
  height: 16px;
  left: 20px;
  opacity: 0.3;
  position: absolute;
  top: 28px;
  width: 18px;
}

.login:hover::before {
  opacity: 1;
}

/* ==========================================================================
   Footer
   ========================================================================== */
.main-footer {
  background: #252525 url("../img/dark-pattern-bg.jpg");
  box-shadow: inset 0px 30px 40px -15px #000;
  color: #fff;
  margin-top: 65px;
  padding-bottom: 40px;
  padding-top: 57px;
}

.inner-page .main-footer {
  margin-top: 49px;
}

.footer-contacts {
  float: left;
  margin-right: 62px;
  width: 320px;
}

.footer-contacts a {
  color: #fff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  text-align: center;
  width: 180px;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  background-color: #000;
  display: inline-block;
  height: 43px;
  font-size: 0;
  margin: 0 2px;
  position: relative;
  text-decoration: none;
  transition: background 0.5s;
  vertical-align: top;
  width: 43px;
}

.social-btn:hover {
  background-color: #fff;
}

.social-btn::before {
  background: transparent url("../img/sprite.png") no-repeat;
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.social-btn-vk::before {
  background-position: -67px -64px;
  height: 16px;
  width: 25px;
}

.social-btn-vk:hover::before {
  background-position: -5px -90px;
}

.social-btn-fb::before {
  background-position: -27px -5px;
  height: 22px;
  width: 12px;
}

.social-btn-fb:hover::before{
  background-position: -49px -5px;
  height: 22px;
  width: 12px;
}

.social-btn-inst {
  background-position: 12px -313px;
}

.social-btn-inst::before {
  background-position: -5px -37px;
  height: 21px;
  width: 21px;
}

.social-btn-inst:hover::before {
  background-position: -36px -37px;
}

.footer-copyright {
  float: right;
  max-width: 180px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
  min-width: 140px;
  padding-left: 23px;
  padding-right: 23px;
}

.footer-copyright .btn:hover {
  background-color: #fff;
  color: #000;
}

/* ==========================================================================
   Index page
   ========================================================================== */
.index-logo {
  height: 204px;
  margin: 0 auto;
  margin-bottom: 21px;
  padding-left: 5px;
  width: 368px;
}

.index-logo img {
  width: 368px;
  height: 204px;
}

.features {
  margin-bottom: 77px;
}

.features-item {
  float: left;
  margin-right: 23px;
  text-align: center;
  width: 298px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-name {
  display: block;
  font-size: 30px;
  line-height: 1.4;
  margin-bottom: 29px;
  padding-bottom: 31px;
  position: relative;
}

.features-name::after {
  background-color: #fff;
  bottom: 0;
  content: "";
  display: block;
  height: 20px;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  transform: rotate(-45deg);
  width: 20px;
}

.features-item p {
  margin: 0;
}

.index-content {
  background: url("../img/vertical-column-separator.png") no-repeat center,
              #f8f5f2 url("../img/light-pattern-bg.jpg");
  color: #000;
  margin-bottom: 35px;
  padding: 45px 80px 50px;
}

.index-content-left {
  float: left;
  width: 380px;
}

.index-content-right {
  float: right;
  width: 300px;
}

.index-content-title {
  font-size: 30px;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 20px;
}

.index-content p {
  margin: 0;
  margin-bottom: 21px;
}

.gallery {
  height: 260px;
  margin-top: 22px;
  position: relative;
}

.gallery-content {
  background-color: #ccc;
  border: 7px solid #fff;
  height: 164px;
  margin: 0;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  bottom: 0;
  margin: 0;
  position: absolute;
  width: 140px;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form {
  margin-top: 22px;
}

.appointment-form input {
  background-color: #f9f6f3;
  border: 2px solid #000;
  color: #000;
  float: left;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71428571;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 8px 15px 7px;
  text-transform: uppercase;
  width: 140px;
}

.appointment-form input:focus {
  border-color: #663d15;
  outline: none;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}

.news-preview {
  list-style: none;
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  padding-right: 35px;
}

.news-preview li {
  margin-bottom: 21px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: none;
}

.index-content-left .btn-all-news {
  min-width: 140px;
}

.index-content-left .btn-map {
  margin-right: 17px;
  padding-left: 31px;
  padding-right: 31px;
}

.index-content-left .btn-feedback {
  padding-left: 25px;
  padding-right: 25px;
}

/* ==========================================================================
   Price page
   ========================================================================== */
.inner-page .main-heading {
  font-size: 30px;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 15px;
}

.inner-content {
  margin-bottom: 75px;
}

.inner-content-columns > *:first-child {
  margin-top: 0;
}

.inner-content-colums + .inner-content-columns {
  margin-top: 60px;
}

.inner-content-column-left,
.inner-content-column-right {
  width: 460px;
}

.inner-content-column-left {
  float: left;
}

.inner-content-column-right {
  float: right;
}

.inner-content-column-left *:first-child,
.inner-content-column-right *:first-child {
  margin-top: 0;
}

.inner-content-column-left *:last-child,
.inner-content-column-right *:last-child {
  margin-bottom: 0;
}

.inner-content h2 {
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: 28px;
  margin-top: 60px;
}

.big-heading {
  margin-bottom: 59px;
  margin-top: 50px;
  text-align: center;
}

.big-heading::after {
  border-bottom: 2px solid #000;
  content: "";
  display: block;
  position: relative;
  top: -25px;
  z-index: 1;
}

.big-heading h2 {
  background: #f8f3f0 url("../img/light-pattern-bg.jpg");
  display: inline-block;
  font-size: 48px;
  line-height: 1;
  margin: 0;
  padding: 0 25px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  z-index: 2;
}

.inner-content h3 {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 30px;
  margin-top: 60px;
}

.inner-content h2 + h3 {
  margin-top: 30px;
}

.inner-content p {
  margin: 14px 0;
}

.inner-content table {
  border-collapse: collapse;
}

.inner-content td {
  border: 2px solid #000;
  padding: 8px 15px;
}

.custom-list {
  list-style: none;
  margin: 14px 0;
  padding: 0;
}

.custom-list li {
  padding-left: 20px;
  position: relative;
}

.custom-list-1 li {
  margin-bottom: 12px;
}

.custom-list li::before {
  background: #000;
  content: "";
  height: 8px;
  left: 0;
  position: absolute;
  top: 8px;
  transform: rotate(45deg);
  width: 8px;
}

.prices-table {
  width: 100%;
}

.prices-table td {
  width: 50%;
}

.prices-table td:last-child {
  text-align: center;
}

.short-text {
  padding-right: 75px;
}

/* ==========================================================================
   Shop page
   ========================================================================== */
.catalog-filters {
  float: left;
  width: 220px;
}

.catalog-filters fieldset {
  border: none;
  margin: 0;
  margin-bottom: 52px;
  padding: 0;
}

.catalog-filters .products-groups {
  margin-bottom: 50px;
}

.catalog-filters legend {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 27px;
  text-transform: uppercase;
}

.products-groups legend {
  margin-bottom: 31px;
}

.catalog-filters ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filters li:not(:last-child) {
  margin-bottom: 13px;
}

.catalog-filters .btn {
  min-width: 112px;
  padding-left: 29px;
  padding-right: 29px;
}

.catalog-items {
  float: right;
  padding-top: 3px;
  width: 700px;
}

.products {
  font-size: 0;
  margin-left: -20px;
}

.product {
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
  display: inline-block;
  font-size: 14px;
  margin-left: 20px;
  margin-bottom: 20px;
  min-height: 286px;
  vertical-align: top;
  width: 220px;
}

.product-thumb {
  display: block;
  height: 165px;
  margin-bottom: 13px;
  overflow: hidden;
  width: 220px;
}

.product-thumb img {
  display: block;
  height: 100%;
  width: 100%;
}

.product-title {
  font-size: 14px;
  line-height: 1.28571429;
  margin: 0;
  margin-bottom: 13px;
  padding: 0 16px;
}

.product-title a {
  color: inherit;
  text-decoration: none;
}

.product-title .type {
  display: block;
  text-transform: none;
}

.product-price {
  font-size: 0;
}

.product .product-price {
  padding: 0 16px;
}

.product-price .value {
  background-color: #e5e5e5;
  display: inline-block;
  font-size: 14px;
  line-height: 43px;
  min-width: 109px;
  padding: 0 26px;
  text-align: center;
  vertical-align: top;
}

.product-price .btn {
  line-height: 43px;
  margin-right: 0;
  min-width: 78px;
  padding: 0 18px;
}

.pagination {
  font-size: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.products + .pagination {
  margin-top: 25px;
}

.pagination li {
  background-color: #fff;
  display: inline-block;
  color: #000;
  height: 43px;
  font-size: 14px;
  line-height: 43px;
  margin-right: 7px;
  text-align: center;
  vertical-align: top;
  width: 43px;
}

.pagination a {
  background-color: #000;
  color: #fff;
  display: block;
  text-decoration: none;
}

.pagination a:hover {
  background-color: #663d15;
}

/* ==========================================================================
   Item page
   ========================================================================== */
.product-content {
  margin-bottom: 50px;
}

.product-showcase {
  padding-top: 4px;
}

.product-showcase .large-image {
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
  height: 498px;
  margin-bottom: 20px;
  width: 460px;
}

.product-showcase .small-image {
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
  height: 149px;
  float: left;
  margin-right: 20px;
  width: 140px;
}

.product-showcase .small-image:last-child {
  margin-right: 0;
}

.product-info {
  padding-left: 70px;
  padding-top: 23px;
}

.product-extra {
  margin-bottom: 29px;
  max-width: 380px;
}

.product-extra .product-availability,
.product-extra .product-article {
  margin: 0;
}

.product-availability {
  float: left;
}

.product-article {
  color: #aeaeae;
  float: right;
}

.product-description {
  margin-bottom: 36px;
}

.product-info .product-price {
  margin-bottom: 62px;
}

.product-features h2 {
  margin-bottom: 27px;
}

/* ==========================================================================
   Modals
   ========================================================================== */
.modal-content {
  background: #f8f3f0 url("../img/light-pattern-bg.jpg");
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  color: #000;
  display: none;
  left: 50%;
  margin-left: -230px;
  padding: 50px 80px;
  position: absolute;
  top: 120px;
  width: 460px;
}

.modal-content-map {
  background: #e9e5dc url("../img/map-img.jpg");
  border: 7px solid #fff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  display: none;
  height: 561px;
  left: 50%;
  margin-left: -390px;
  margin-top: -280px;
  position: fixed;
  top: 50%;
  width: 766px;
  z-index: 20;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.modal-content-close {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 0;
  height: 22px;
  position: absolute;
  right: -34px;
  top: 0;
  width: 22px;
}

.modal-content-close::before,
.modal-content-close::after {
  background-color: #d0d0d0;
  border-radius: 1px;
  content: "";
  height: 3px;
  left: 2px;
  position: absolute;
  top: 10px;
  width: 19px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content h2 {
  font-size: 30px;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 20px;
}

.modal-content p {
  margin: 0;
  margin-bottom: 14px;
}

.login-user,
.login-password {
  margin-bottom: 10px;
  position: relative;
}

.login-user input,
.login-password input {
  background-color: #f9f6f3;
  border: 2px solid #000;
  color: #000;
  font-family: "PT Sans Narrow", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71428571;
  padding-right: 40px;
  padding: 10px 15px;
  text-transform: uppercase;
  width: 300px;
}

.login-form input:focus {
  border-color: #663d15;
  outline: none;
}

.login-user::after,
.login-password::after {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.login-user::after {
  background-position: -92px -31px;
  height: 15px;
  width: 15px;
}

.login-password::after {
  background-position: -67px -37px;
  height: 17px;
  width: 15px;
}

.login-remember {
  display: inline;
}

.login-remember:hover {
  color: #663d15;
}

.login-restore {
  color: #000;
  float: right;
}

.btn-login {
  margin-top: 15px;
  width: 100%;
}
